.wrapper {
  display: flex;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 10px auto auto;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 80%;
  align-items: center;
  background-attachment: fixed;
}